<a href="https://colab.research.google.com/github/salmachaveznavarro/CompYProg2022./blob/compyprog2022/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados en python

1. listas
2. tuplas
3. diccionarios
4. conjuntos

#Listas

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0).
- Se declara de dos formas:
    - usando[ ]
    - usando list()
    - usando un generador
- Puede contener tipos de datos diversos (en otros lenguajes eso no es posible de forma directa).
- Los elementos internos se seleccionan con corchetes [ ]
- Por lo tanto soporta slicing
- Son MUTABLES (modificables).
- GENERADORES [var for x in range (10)]
- Al ser una clase contiene muchos métodos útiles.

In [ ]:
numeros = [ 10, 5,3,2,1]
print(numeros)
numeros2=list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(8)
numeros2.append(3)
print(numeros2)
numeros[2]=20
print(numeros)
numeros[-1]=33
numeros.append(88)
print(numeros)

[10, 5, 3, 2, 1]
[10, 5, 8, 3]
[10, 5, 20, 2, 1]
[10, 5, 20, 2, 33, 88]

In [ ]:
# tipos diversos

cosas= [ 12, 2, 2.34, True, "José", ["pera","kiwi", "uva"]]
print(cosas[2])
print(cosas[1])
print(cosas[4])
print(cosas [5])
print(cosas [5][1])
print(cosas[4][1:2])
cosas[4]=cosas[4].upper()
print(cosas)

2.34
2
José
['pera', 'kiwi', 'uva']
kiwi
o
[12, 2, 2.34, True, 'JOSÉ', ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11] 
print(numeros)
#slicing
# 1.- del 4 al 8
print(numeros[3:8])
# 2: [9,10]
print(numeros[8:10])
print(numeros[-3:-1])
# imprimir la lista en orden inverso
print(numeros[-1:-12:-1])
# ó
print(numeros[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista con un generador
numeros=[x*3 for x in range (101)]
print (numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#funcion range()
Tiene los mismos componentes que slicing.
ini, stop, incremento
range(1,101,1)

In [ ]:
numeros=[x for x in range (50,101,2)]
print (numeros)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# Métodos de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [ 4,1,15,15,8,22,34,50]
print(numeros)
numeros.append(99)
print(numeros)
numeros.clear()
print(numeros)
# Otra forma de hacer clear
numeros = [ 4,1,15,8,22,34,50]
print(numeros)
numeros =[]
print(numeros)

frutas= ["uvas", "kiwi", "manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("naranja")
print(frutas)
print(copia)

colores = ["rojo", "azul", "blanco"]
copia2=colores.copy()
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

numeros = [ 4,1,15,8,22,34,50]
print("números de veces que aparece el 15= ", numeros.count(15))

# extend

nombre =["jose", "pedro", "karina"]
print(nombre)
otrosnombres=["josue", "diana", "dalia"]
print(otrosnombres)
nombres = nombre + otrosnombres
print(nombres)


otrosnombres.extend(["Jesus", "Maria", "Jose"])
print(otrosnombres)
 
#index

print("Jesus está en la posición: ", otrosnombres.index("Jesus"))

#insert
otrosnombres.insert(4,"Espiritú Santo")
print(otrosnombres)

#pop
resultado= otrosnombres.pop()
print(resultado)

[4, 1, 15, 15, 8, 22, 34, 50]
[4, 1, 15, 15, 8, 22, 34, 50, 99]
[]
[4, 1, 15, 8, 22, 34, 50]
[]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', 'naranja']
['uvas', 'kiwi', 'manzana', 'naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
números de veces que aparece el 15=  1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesus', 'Maria', 'Jose']
Jesus está en la posición:  3
['josue', 'diana', 'dalia', 'Jesus', 'Espiritú Santo', 'Maria', 'Jose']
Jose

# Tuplas 

### Características

- Son datos agrupados.
- Se declara usando:
  -( )
  -tuple()
- Es una estructura secuencial, indexada a partir de 0.
-Pueden tener de 0 a n elementos.
- NO SON MUTABLES (no se puede eliminar y/o cambiar).
- Son buenas para almacenar información de consulta.
- Pueden almacenar información de diferentes tipos de dato.
- Pueden estar anidadas.
- Tienen métodos útiles.

In [8]:
info= ("juan23", "dios1234", "123.232.1.12")
print(info)
print(info[1])
#info[1]= "patito23"= ERROR -->no mutables

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11:1])

cosas=(info, numeros)
print(cosas)
print(cosas[1][5:11])
print(cosas[0][2][4:7])
print(cosas[0][2])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

# Métodos de las tuplas 

Son los mismos de las listas pero los que no involucren mutabilidad.

In [9]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Características de los diccionarios

- Agrupan datos pero de forma no lineal.
-Se declaran con:
    - {}
    - dict()
- Formados por pares del tipo llave: valor, donde:
    - llave es de tipo string (siempre)
    - valor puede ser de cualquier tipo de datos incluyendo los diccionarios.
- Se seleccionan con la llave de la forma: ["id_llave"] .
- Son mutables.
- Son anidables.
- Son equivalentes al tipo de dato JSON del lenguaje Java (JS).

In [21]:
alumno= {"nombre": "José"}
print(alumno)
print(alumno["nombre"])
alumno={"nombre": "José", "nc":"2129229292", "edad":18}
print("edad del alumno:",alumno["edad"])
print("nombre del alumno:", alumno["nombre"].upper())
print(alumno)

print("Alumno 2:")
alumno2= dict() #{}
print(alumno2)
alumno2["nombre"]= "jose"
print(alumno2)
alumno2["nc"]="2191919122"
alumno2["edad"]=18
print(alumno2)
alumno2["edad"]= alumno2["edad"]+1
print(alumno2)

{'nombre': 'José'}
José
edad del alumno: 18
nombre del alumno: JOSÉ
{'nombre': 'José', 'nc': '2129229292', 'edad': 18}
Alumno 2:
{}
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '2191919122', 'edad': 18}
{'nombre': 'jose', 'nc': '2191919122', 'edad': 19}

In [43]:
cliente={ "id": "CT2121", 
         "nombre" : "José Pedroza Rosales", 
         "teléfono": { "casa": "5544566565",
                      "trabajo": "5544676767",
                      "celular": "04455232323"
          }
}
print(cliente)

cliente={ "id": "CT2121", 
         "nombre" : {
             "nombres": ["José", "Eduardo"],
             "paterno": "Pedroza",
             "materno": "Rosales"
         }, 
            "telefono": { "casa": "5544566565",
                      "trabajo": "5544676767",
                      "celular": "04455232323" },
         "productos": {
          "ahorro": {"numero_cuenta":"7788", "ahorro": 2500.50},
          "tarjeta":[
                       {"tipo": "débito", "saldo": 10000.50},
                       {"tipo": "crédito preferente","límite":250000.50},
                       {"tipo": "lite", "límite": 15000.5}
          ]
          },
          "dirección": {
              "calle":"Av. central",
              "numero": 1245,
              "colonia": "impulsora",
              "delegación": "nezahualcoyotl",
              "estado": {
                  "clave": 15,
                  "nombre_corto":"EdoMex",
                  "nombre": "Estado de México"
              }
          }          
         } 

print(cliente)
print(cliente["telefono"]["casa"])
print(cliente["productos"]["ahorro"],["ahorro"])
print(cliente["productos"]["tarjeta"][2]["límite"])
print(cliente["dirección"]["estado"]["nombre"].upper())

{'id': 'CT2121', 'nombre': 'José Pedroza Rosales', 'teléfono': {'casa': '5544566565', 'trabajo': '5544676767', 'celular': '04455232323'}}
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefono': {'casa': '5544566565', 'trabajo': '5544676767', 'celular': '04455232323'}, 'productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjeta': [{'tipo': 'débito', 'saldo': 10000.5}, {'tipo': 'crédito preferente', 'límite': 250000.5}, {'tipo': 'lite', 'límite': 15000.5}]}, 'dirección': {'calle': 'Av. central', 'numero': 1245, 'colonia': 'impulsora', 'delegación': 'nezahualcoyotl', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de México'}}}
5544566565
{'numero_cuenta': '7788', 'ahorro': 2500.5} ['ahorro']
15000.5
ESTADO DE MÉXICO