<a href="https://colab.research.google.com/github/salmachaveznavarro/CompYProg2022./blob/compyprog2022/fundamentosCyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = "josé" #tipo de dat string (cadena de caracteres)
print (nombre)

josé

# Tipo de dato en Python

### Tipos de datos simples
- str --> string o cadena de caracteres
- int --> números enteros
- float --> números con notación de punto flotando (3.1416)
- complex --> números complejos
- bool --> booleano (verdadero o falso)
- byte --> 8 bits

### Tipos de datos compuestos o estructurados
- listas --> listas (arreglos en otros lenguajes)
- tuple --> listas no mutables
- dict --> diccionarios
- set y frozenset --> conjuntos

In [ ]:
import sys #biblioteca o modulo que conecta con el sistema de python
edad = 19
print("tu edad es:",edad) # al final de una línea de código
# este es un comentario de linea simple
"""
comentario de multiple línea
En lenguaje C, C++ y Java el comentaariode múltiple línea es con 
/* ..... */
En lenguaje C, C++ y Java el comentario de una sola linea es con:
//
Aquí puedes explicar en prosa el segmento de un código para futura revisión
"""
#tipos de dato numérico int y float

sys.getsizeof(edad) #numero de bits que usa la variable "edad"
#leg de prog. por ejemplo en C utiliza 16 bits.

edad= edad + 1
print(edad)

estatura= 1.56
print(estatura)
print (sys.getsizeof(estatura))
estatura= estatura+ 0.1
print(estatura)
print(round(estatura,2)) #el 2 es de 2 decimales
edad += 1 # es igual a poner edad + 1
print("tu edad es ",edad)
edad -= 1 # es igual a poner edad - 1
print("tu edad es ",edad)
edad += 1 # vuelve a 21
edad /=2 # es igual a poner edad /2
print("la mitad de tu edad es ",edad)
edad=21
# volver a calcular la mitad de la edad pero solo dejar la parte entera
edad= edad // 2 #// es igual a div (division entera)
print(edad) 
#en la mayoria de los lenguajes no permite las operaciones entre diferentes
#tipos de datos

numero= edad / 2.0
print (numero)
numero *= 3
print(numero)
numero = 5
numero **= 3
print(numero)

tu edad es: 19
20
1.56
24
1.6600000000000001
1.66
tu edad es  21
tu edad es  20
la mitad de tu edad es  10.5
10
5.0
15.0
125
10.5

In [ ]:

# operador modulo 
numero = 21
print(numero / 2)

# operador modulo 
numero = 21
print(numero // 2)
#el operador modulo da como resultado el residuo de una división entera
print(numero % 2) # % es igual a mod

numero = 24
print("residuo de 24/5: ",numero % 5)
print(numero % 2 == 0) #el residuo de 24 /2 es igual a 0

#operadores relacionales (logicos)
print(numero)
print("23 es mayor que 24?",numero > 24)
print("23 es diferente que 24?",numero != 23) # != es igual a <>
print("24 es menor o igual que 23?", numero <= 23)
print("24 es mayor o igual que 23?", numero >= 23)

print("el tipo de dato de la var numero es:", type(numero))
print("el tipo de dato de la var numero es:", type(numero/2))

10.5
10
1
residuo de 24/5:  4
True
24
23 es mayor que 24? False
23 es diferente que 24? True
24 es menor o igual que 23? False
24 es mayor o igual que 23? True
el tipo de dato de la var numero es: <class 'int'>
el tipo de dato de la var numero es: <class 'float'>

# tipo de dato string (str) en python
- se maneja como un arreglo (tipo de dato compuesto)
- significa que se puede acceder a los elementos del string por medio del índice del caracter
- mutable
- tiene métodos útiles (potentes)
- slicing

In [ ]:
nombre="jose"
carrera = "ingeniería en computación"
frase = """el conocimiento
me persigue,....
pero
yo soy mas rapido
"""
print(nombre) 
print(carrera)
print(frase)
#la funcion type de python te decuelve el tipo de dato de una variable
print( type(nombre))
paterno= str("Perez")
print(paterno)

jose
ingeniería en computación
el conocimiento
me persigue,....
pero
yo soy mas rapido

<class 'str'>
Perez

### Una clase (class) es un tipo de dato compuesto.

In [ ]:
carrera= "Ingeniería en computación" 
print(carrera)
print(carrera[2])

Ingeniería en computación
g

# A la sintaxis escrita para elegir un elemento de un grupo de datos se le llama selector.
En el caso de str y listas (lst) se usan los caracteres '[' ']'
1. En todos los lenguajes los arreglos inician con 0.
2. En python no existe el tipo de dato arreglo, el concepto es sustituido por las listas.
3. Los str se comportan como un arreglo en la mayoría de los lenguajes.
4. En python se acepta el indexado negativo en otros lenguajes NO.

In [ ]:
carrera= "Ingeniería en computación"
print(carrera[8])
print(carrera[24])
print(carrera[-1])
print(carrera[-25])

#Adelantando el tema del ciclo FOR
for letra in carrera:
  print("-->",letra,"<--")

í
n
n
I
--> I <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> í <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> ó <--
--> n <--

## Slicing (rebanado) de cadenas
 
 Permite seleccionar subcadenas con el operador 
 [inicio : stop : incremento ]
 El stop no se incluye por eso debemos agragar una posición extra.
 ### El inicio por defecto siempre será 0 stop: tamaño del arreglo (indexado positivo) y será 0 (en un indexado negativo)
 Incrementro: es 1 (indexado positivo)

In [ ]:
carrera= "Ingeniería en computación"
print(carrera[0:10:1])
print(carrera[14:25:1])
print(carrera[:10:])
print(carrera [14:25:])

# Solución previa 
print("----------")
print(carrera[-11:-1:1])
print(carrera[-11: :1])

# un ejercicio para ver el incremento
print(carrera[0:10:2])
print(carrera [-1:-12:-1])
print(carrera [-1:-12:-2])
print(carrera[25:13:-1])

Ingeniería
computación
Ingeniería
computación
----------
computació
computación
Igneí
nóicatupmoc
niaumc
nóicatupmoc

# Sring y sus métodos
# Todos los tipos de dato en python son objetos (CLASES de la POO)
### Lo cual significa que tiene atributos y métodos.
## dir() y help () funciones para obtener ayuda del lenguaje python
### dir () muestra las funciones de un tipo de dato como resumen.
### help() muestra la misma ayuda pero a detalle.

Metodo que incian con doble guion bajo son privados de uso interno en la clase y no deberiamos usarlo.
Todos los demas son de uso exterior.

In [ ]:
frutas="  limón , fresa, manzana  , aguacate  "
nombre = "jose"
print(frutas)
dir(frutas)

print( nombre.capitalize())
print( nombre.upper())
print(frutas.replace('a','4').replace('e','3').upper())
frutas= frutas.replace('a','4').replace('e','3').upper()
print(frutas)
print(".-.-.-.-.-..-.-.-.-..-.-.-.-.")
frutas="  limón , fresa, manzana  , aguacate  "
print(frutas.strip())
print(frutas.split(','))
print(frutas.index('n'))
print(frutas.find('n'))

  limón , fresa, manzana  , aguacate
Jose
JOSE
  LIMÓN , FR3S4, M4NZ4N4  , 4GU4C4T3
  LIMÓN , FR3S4, M4NZ4N4  , 4GU4C4T3
.-.-.-.-.-..-.-.-.-..-.-.-.-.
limón , fresa, manzana  , aguacate
['  limón ', ' fresa', ' manzana  ', ' aguacate  ']
6
6

#String y caracteres de escape

"Jose"
- \" --> "
- \' -->'
- \n --> salto de linea (tecla enter)
- \t --> tabulador spacios a la izq.
-  \Uxxxx --> caracteres unicode
- \Uxxxxxxxxxx --> unicode extendido

https://unicode-table.com/es/1F970/

In [ ]:
print(" \"jose\" ")
nombre = "\"jose\" "
print(nombre) 
carrera= "ingeniería \nen \ncomputación"
print(carrera)
carrera= "ingeniería \n\ten \n\t\tcomputación"
print(carrera)
print("\u0620")
print("\u0444")
print("\U00010057")
print("\U0001F600")
print("\U0001F970")

 "jose"
"jose"
ingeniería
en
computación
ingeniería
	en
		computación
ؠ
ф
𐁗
😀
🥰

#Función print
### Se emplea para desplegar información en la salida estandar.
### Normalmente un monitor.
- Formas de usar print:
- el argumento por defecto de print(end)
- format()
-operador f""

In [ ]:
nombre= "Jose"
edad=18
casado= False #False empieza siempre por mayúsculas
estatura =1.67

#1. Con comas.- concatena haciendo un casting (conversión a string automática)
# Agrega un espacio
print(nombre,edad,casado,estatura)
print("Nombre: "+ nombre + "\n\tEdad: "+ str(edad) + "\n\testa casado: " + str(casado) + "\n\tEstatura en metros: " + str(estatura))

#2. Con el simbolo de "+"
# Concatenación en crudo
print(nombre +" " +str(edad) + " " + str(casado) +" "  +str(estatura))

#3. Dando formato a la salida con format()
print("\nCon la func. format()")
print("Nombre: {3}\n\tEdad: {2}\n\tEsta casado: {1} \n\tEstatura en metros: {0}".format(nombre,edad,casado,estatura))

#4. Con el operador f" "
print("Con el operador f\" \"") #Así se hacen print las comillas " "
print(f"Nombre: { nombre }\n\tEdad: { edad }\n\tEsta casado: {casado} \n\tEstatura en metros: { estatura }")

# Como manejar el argumenro end
print("\nComo usar el argumento end")
print(f"hola {nombre}" , end=" ")
print(", como estas?", end="\n")

Jose 18 False 1.67
Nombre: Jose
	Edad: 18
	esta casado: False
	Estatura en metros: 1.67
Jose 18 False 1.67

Con la func. format()
Nombre: 1.67
	Edad: False
	Esta casado: 18
	Estatura en metros: Jose
Con el operador f" "
Nombre: Jose
	Edad: 18
	Esta casado: False
	Estatura en metros: 1.67

Como usar el argumento end
hola Jose , como estas?

# datos de entrada
Para solicitar los datos del usuario se emplea la funcion input. La cual regresa siempre en tipo de dato string.

In [2]:
nombre= input("ingresa tu nombre: ")
print("tecleaste:" , nombre)

ingresa tu nombre: salma
tecleaste: salma

# ¿Cómo capturar datos numéricos?

Para ello se hace una conversion entre tipos...
casting... consiste en llamar al constructor de la clase deseada

## Ejemplo convertir el string "2" en numero
### num= int("2")

In [5]:
entrada= input("Dame tu edad: ")
edad= int(entrada)
edad +=1  #edad = edad +1, asi se comprueba que se cambió a numerico
print("tu edad es:", edad)

Dame tu edad: 18
tu edad es: 19

In [9]:
# lo mismo pero con menos código

edad = int(input("dame tu edad: "))
print("tu edad es: ",edad +1)

dame tu edad: 18
tu edad es:  19

In [14]:
estatura= float(input("dame tu estura: "))
print("tu estatura es: ", estatura +0.1)

dame tu estura: 1.53
tu estatura es:  1.6300000000000001

In [21]:
# inputs de booleans 

casado = bool (int(input("soltero, ingresa 0, casado ingresa 1: ")))
print(( "casado= "), casado )

soltero, ingresa 0, casado ingresa 1: 1
casado=  True